body {
    color: grey;
    font-family: 'Rubik', sans-serif;
}

/* Navigation Bar */

.hvr-underline-from-center:before {
    background: grey;
}

.nav-item {
    margin: 0.1rem 1rem;
}

.nav-color {
   background: rgba(0,0,0,0.4);
}

/* Homepage */

.home {
    background-image: url("../images/ldnpd.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    color: #2b2d2f;
}

.card-panel {
    background-color: #f8f8ff;
}

@media only screen and (max-width: 1400px) {
  .icon-position {
    margin-left: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .icon-position {
    margin-top: 15px;
  }
}

.pi-font {
    font-weight: bold;
}

@media only screen and (max-height: 600px) {
    .crime-responsivity {
        font-size: small;
        float: left;
    }
}

.user-icon {
    margin-top: 10px;
}

.delete-button {
    margin-top: 10px;
    
}

.edit-button {
    margin-top: 10px;
    margin-left: 20px;
}

@media only screen and (max-width: 486px) {
    .edit-button {
        margin-left: 70px;
        width: 75px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 486px) {
.delete-button {
    margin-left: 70px;
    width: 75px;
    margin-top: 10px;
} 
}

@media only screen and (max-width: 350px) {
    .edit-button {
        margin-left: 50px;
        width: 75px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 350px) {
.delete-button {
    margin-left: 50px;
    width: 75px;
    margin-top: 10px;
} 
}

@media only screen and (max-width: 600px) {
.mugshot-card {
    width: 78%;
}
}

.card-reveal {
    height: 70%;
}

.wanted-list {
    display: inline;
    float: left;
}

.mugshot {
    display: block;
    padding: 10px;
    border: 1px solid red;
    margin-right: 5px;
}

.previous-icon {
    margin: 10px;
}

.next-icon {
    margin: 10px;
}