<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
        integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>London Police Department</title>
</head>

<body>
    <header>
        <nav class="nav-extended nav-color">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo right icon-position"><i class="fas fa-home"></i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="nav-text left hide-on-med-and-down">


                    {% if session.user %}

                    <li class="hvr-underline-from-center nav-item"><a
                            href="{{ url_for('my_submissions', username=session['user']) }}">{{ username }}
                            Submissions</a></li>
                    <li class="hvr-underline-from-center nav-item"><a
                            href="{{ url_for('submit_investigation') }}">Submit Investigation</a></li>
                    <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('pending_inv') }}">Pending
                            Investigations</a></li>
                    <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('wanted') }}">Wanted
                            Persons</a></li>
                    <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('logout') }}">Log
                            Out</a></li>

                    {% else %}
                    <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('login') }}">Log
                            In</a></li>
                    <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('register') }}">Register</a></li>
                    <li class="hvr-underline-from-center nav-item"><a href="#">Stay Safe</a></li>
                    {% endif %}


                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i></a></li>
            {% if session.user %}
            <li class="hvr-underline-from-center nav-item"><a
                    href="{{ url_for('my_submissions', username=session['user']) }}">Your
                    Submissions</a></li>
            <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('submit_investigation') }}">Submit
                    Investigation</a></li>
            <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('pending_inv') }}">Pending
                    Investigations</a></li>
            <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('logout') }}">Log
                    Out</a></li>

            {% else %}
            <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('register') }}">Register</a></li>
            <li class="hvr-underline-from-center nav-item"><a href="{{ url_for('login') }}">Log In</a></li>
            <li class="hvr-underline-from-center nav-item"><a href="#">Wanted Persons</a></li>
            <li class="hvr-underline-from-center nav-item"><a href="#">Stay Safe</a></li>

            {% endif %}

        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>