{% extends "base.html" %}

{% block content %}

<div class="home">
    <div class="container">
        <div class="col s12">
            <h3 class="center-align">Edit Investigation</h3>
        </div>
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('edit', wanted_id=wanted._id) }}">
                <div class="card-panel">

                    <div class="row">
                        <div class="input-field col s5 offset-l1">
                            <input id="family_name" type="text" value="{{ wanted.family_name }}" name="family_name"
                                maxlength="20" class="validate" required>
                            <label for="family_name">Family Name</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="forename" type="text" value="{{ wanted.forename }}" name="forename"
                                maxlength="20" class="validate" required>
                            <label for="forename">Forename</label>
                        </div>
                        <div class="input-field col s5  offset-l1">
                            <input id="gender" type="text" value="{{ wanted.gender }}" name="gender" maxlength="15"
                                class="validate" required>
                            <label for="gender">Gender</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="date_of_birth" value="{{ wanted.date_of_birth }}" name="date_of_birth"
                                type="text" class="datepicker validate">
                            <label for="date_of_birth">Date of Birth</label>
                        </div>
                        <div class="input-field col s10 m10 offset-l1">
                            <select id="crime_name" name="crime_name" class="validate" required>
                                <option value="" disabled selected>Charges</option>
                                {% for charges in crime %}
                                {% if charges.crime_name == wanted.crime_name %}
                                <option value="{{ charges.crime_name }}" selected>
                                    {{- charges.crime_name -}}</option>
                                {% else %}
                                <option value="{{ charges.crime_name }}">
                                    {{- charges.crime_name -}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="input-field col s5 offset-l1">
                            <input id="suspect_photo" name="suspect_photo" type="url">
                            <label for="suspect_photo">Suspect Photo</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="ethnicity" name="ethnicity" type="text" value="{{ wanted.ethnicity }}"
                                maxlength="60" class="validate">
                            <label for="ethnicity">Ethnicity</label>
                            <span class="helper-text">E.g. White,
                                Asian, Black, Latino etc.</span>
                        </div>
                        <div class="input-field col s5 offset-l1">
                            <input id="phone_number" name="phone_number" type="tel" value="{{ wanted.phone_number }}"
                                class="validate" maxlength="11" pattern="^[0-9]{11,11}$" required>
                            <label for="phone_number">Phone</label>
                            <span class="helper-text" data-error="Please enter your 11 digit phone number."
                                data-success="Valid phone number">Phone number required.</span>
                        </div>
                        <div class="input-field col s5">
                            <input id="email" name="email" type="email" value="{{ wanted.email }}" class="validate"
                                required>
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="Invalid E-mail address"
                                data-success="Valid E-mail Address">E-mail required.</span>
                        </div>
                        <div class="input-field col s10 m10 offset-l1">
                            <input id="last_seen" name="last_seen" type="text" value="{{ wanted.last_seen }}"
                                maxlength="30" class="validate" required>
                            <label for="last_seen">Last Seen</label>
                        </div>
                        <div class="input-field col s10 m10 offset-l1">
                            <!-- <input id="additional_info" type="text" class="validate">
                            <label for="additional_info">Additional Information</label> -->
                            <textarea id="additional_info" name="additional_info" type="text"
                                class="materialize-textarea">{{ wanted.additional_info }}</textarea>
                            <label for="additional_info">Additional Information</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('wanted') }}" class="btn-large red text-shadow">Cancel</a>
                            <button type="submit" class="btn-large">
                                Make Changes
                                <i class="fas fa-share"></i>
                            </button>
                        </div>
                        <div class="col s12 center-align">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}