{% extends "base.html" %}
{% block content %}
<div class="home">
    <div class="container">
        <div class="col s12">
            <h1 class="center-align">London Police Department</h1>
        </div>
        <div class="row">
            <div class="col s4">
                <h4 class="center-align">
                    Title One
                    <!-- <span style="font-size: 100px">
                        <i class="fas fa-spinner"></i>
                    </span> -->
                </h4>
                <p class="center-align"> Quisque elementum lorem sit amet commodo fermentum. Praesent facilisis nunc
                    eget aliquam cursus. In hac habitasse platea dictumst</p>
            </div>
            <div class="col s4">
                <h4 class="center-align">
                    Title Two
                </h4>
                <p class="center-align"> Curabitur mattis lectus erat, sit amet pharetra neque interdum nec. Curabitur
                    pretium tellus quam, vel vehicula felis tincidunt varius. </p>
            </div>
            <div class="col s4">
                <h4 class="center-align">
                    Title Three
                </h4>
                <p class="center-align">In vitae sagittis risus. Quisque finibus elit sem, eget pretium ipsum efficitur
                    in. Vivamus purus eros, auctor malesuada felis id, placerat tempus nibh</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}