{% extends "base.html" %}
{% block content %}
<div class="background-home">
    <div class="container">
        <div class="col s12 center-align">
            <h3>London Police Department</h3>
            <p><i>Working with Londoners to make London safer.</i></p>
        </div>
        <div class="row mission-statement-div">
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <h4 class="center-align pi-font">
                        What Do We Do?
                    </h4>
                    <p class="center-align">We are an umbrella organisation that liases with the communities and police
                        forces
                        of London. We aim to bring London together in resolving and stamping out crime in order to
                        improve
                        the
                        well being of it's citizens
                    </p>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <h4 class="center-align pi-font">
                        How Do We Do It?
                    </h4>
                    <p class="center-align"> Using this service we have created a service similar to Interpol - where
                        the
                        faces of criminals are advertised on the web for millions of people to see. This in turn acts as
                        a repellent for criminals whilst holding criminals to account.
                    </p>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <h4 class="center-align pi-font">
                        Can You Help?
                    </h4>
                    <p class="center-align">
                        If you have any information regarding the people you see, please call 101.
                        If you know of somebody that has committed a crime in the London area, do not hesitate to create
                        an account with us and post to our page.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align met-advice-margin">
                <h5 class="pi-font">Advice from the Met</h5>
            </div>
            <div class="col s12 m6 l3 center-align">
                <a target="_blank"
                    href="https://www.met.police.uk/advice/advice-and-information/c19/coronavirus-covid-19/"><i
                        class="fas fa-virus fa-6x advice-icons"></i></a>
                <a href="https://www.met.police.uk/advice/advice-and-information/c19/coronavirus-covid-19/">
                    <h5 class="pi-font advice-text-color">COVID-19</h5>
                </a>

            </div>
            <div class="col s12 m6 l3 center-align">
                <a target="_blank"
                    href="https://www.met.police.uk/advice/advice-and-information/fa/fraud/online-fraud/"><i
                        class="fas fa-laptop fa-6x advice-icons"></i></a>
                <a target="_blank"
                    href="https://www.met.police.uk/advice/advice-and-information/c19/coronavirus-covid-19/">
                    <h5 class="pi-font advice-text-color">Cyber Crime</h5>
                </a>

            </div>
            <div class="col s12 m6 l3 center-align">
                <a target="_blank"
                    href="https://www.met.police.uk/police-forces/metropolitan-police/areas/campaigns/2021/protecting-dog-theft/"><i
                        class="fas fa-paw fa-6x advice-icons"></i></a>
                <a target="_blank"
                    href="https://www.met.police.uk/police-forces/metropolitan-police/areas/campaigns/2021/protecting-dog-theft/">
                    <h5 class="pi-font advice-text-color">Dog Protection</h5>
                </a>

            </div>
            <div class="col s12 m6 l3 center-align">
                <a target="_blank"
                    href="https://www.met.police.uk/cp/crime-prevention/protect-home-crime/theft-from-a-doorstep/"><i
                        class="fas fa-door-open fa-6x advice-icons"></i></a>
                <a target="_blank"
                    href="https://www.met.police.uk/advice/advice-and-information/c19/coronavirus-covid-19/">
                    <h5 class="pi-font advice-text-color">Doorstep Theft</h5>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h6 class="pi-font">Stay Updated</h6>
            </div>
            <div class="col s12 center-align">
                <a target="_blank"
                    href="https://twitter.com/metpoliceuk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                        class="fab fa-twitter fa-3x"></i></a>
                <a target="_blank" href="https://www.facebook.com/metpoliceuk/"><i
                        class="fab fa-facebook-f fa-3x"></i></a>
                <a target="_blank" href="https://www.instagram.com/metpolice_uk/?hl=en"><i
                        class="fab fa-instagram fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}