{% extends "base.html" %}

{% block content %}
<div class="home">
    <div class="container">
        <div class="col s12">
            <h3 class="center-align">Pending Investigations</h3>
            <ul class="collapsible popout">
                {% for applicant in pending %}
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-user"></i>
                        <p>{{ applicant.family_name }}, {{applicant.forename }}, {{ applicant.last_seen }}</p>
                    </div>

                    <div class="collapsible-body">
                        <span>
                            <p class="pi-font">Charge</p>
                            <p>{{ applicant.crime_name }}</p>
                            <p class="pi-font">Gender</p>
                            <p>{{ applicant.gender }}</p>
                            <p class="pi-font">Date of Birth</p>
                            <p>{{ applicant.date_of_birth }}</p>
                            <p class="pi-font">Client Contact Information</p>
                            <p>{{ applicant.phone_number }}, {{ applicant.email }}</p>
                            <p class="pi-font">Additional Information</p>
                            <p>{{ applicant.additional_info }}</p>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}