{% extends "base.html" %}

{% block content %}
<div class="home">
    <div class="container">
        <div class="col 12">
            <h3 class="center-align">Staying safe on the streets of London</h3>
        </div>
        <div class="row">
            <div class="col s12 m8 l8 offset-l2 offset-m2">
                <h6>Whilst sometimes being a victim of street crime is completely unavoidable, there
                habits you can develop to limit the risk. Here's the advice that we believe will 
                be beneficial to yourself and allow you to go outside with confidence.</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 l8 offset-l2 offset-m2 center-align">
                <h4>Be Prepared.</h4>
            </div>
            <div class="col s12 m8 l8 offset-l2 offset-m2">
                <h6>Plan your route, make sure your mobile phone is fully charged, and tell someone where you’re going.</h6>
            </div>
            <div class="col s12 m8 l8 offset-l2 offset-m2 center-align">
                <i class="fas fa-battery-full fa-5x"></i>
            </div>
            <div class="col s12 m8 l8 offset-l2 offset-m2 center-align">
                <h4>Be confident.</h4>
            </div>
            <div class="col s12 m8 l8 offset-l2 offset-m2">
                <h6>Look assertive and walk with confidence. This will always make you appear much less vulnerable and deter criminals.</h6>
            </div>
            <div class="col s12 m8 l8 offset-l2 offset-m2 center-align">
                <i class="fas fa-fist-raised fa-5x"></i>
            </div>
            <div class="col s12 m8 l8 offset-l2 offset-m2 center-align">
                <h4>Look out for others.</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}