{% extends "base.html" %}

{% block content %}

<div class="background-home">
    <div class="container">
        <div class="col s12">
            <h3 class="center-align">Submit Investigation</h3>
        </div>
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('submit_investigation') }}">
                <div class="card-panel">
                    <div class="row">
                        <div class="input-field col s12 m5 l5 offset-m1 offset-l1">
                            <input id="family_name" type="text" name="family_name" maxlength="20" class="validate"
                                required>
                            <label for="family_name">Family Name</label>
                        </div>
                        <div class="input-field col s12 m5 l5">
                            <input id="forename" type="text" name="forename" maxlength="20" class="validate" required>
                            <label for="forename">Forename</label>
                        </div>
                        <div class="input-field col s12 m5 l5 offset-m1 offset-l1">
                            <select id="gender" name="gender" class="validate" required>
                                <option value="" disabled selected>Gender</option>
                                {% for genders in gender %}
                                <option value="{{ genders.gender }}">
                                    {{- genders.gender -}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-field col col s12 m5 l5">
                            <input id="date_of_birth" name="date_of_birth" type="text" class="datepicker validate">
                            <label for="date_of_birth">Date of Birth</label>
                        </div>

                        <div class="input-field col s12 m10 offset-m1 offset-l1">
                            <select id="crime_name" name="crime_name" class="validate" required>
                                <option value="" disabled selected>Charges</option>
                                {% for charges in crime %}
                                <option value="{{ charges.crime_name }}">
                                    {{- charges.crime_name -}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-field col col s12 m5 l5 offset-m1  offset-l1">
                            <input id="suspect_photo" name="suspect_photo" type="url" class="validate">
                            <label for="suspect_photo">Photo</label>
                        </div>
                        <div class="input-field col s12 m5 l5">
                            <input id="ethnicity" name="ethnicity" type="text" maxlength="60" class="validate">
                            <label for="ethnicity">Ethnicity</label>
                            <span class="helper-text">E.g. White,
                                Asian, Black, Latino etc.</span>
                        </div>
                        <div class="input-field col s12 m5 l5 offset-m1 offset-l1">
                            <input id="phone_number" name="phone_number" type="tel" class="validate" maxlength="11"
                                pattern="^[0-9]{11,11}$" required>
                            <label for="phone_number">Phone</label>
                            <span class="helper-text" data-error="Please enter your 11 digit phone number."
                                data-success="Valid phone number">Phone number required.</span>
                        </div>
                        <div class="input-field col s12 m5 l5">
                            <input id="email" name="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="Invalid E-mail address"
                                data-success="Valid E-mail Address">E-mail required.</span>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 offset-l1">
                            <input id="last_seen" name="last_seen" type="text" maxlength="30" class="validate" required>
                            <label for="last_seen">Last Seen</label>
                        </div>
                        <div class="input-field col s12 m10 offset-m1 offset-l1">
                            <textarea id="additional_info" name="additional_info" type="text"
                                class="materialize-textarea"></textarea>
                            <label for="additional_info">Additional Information</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="btn-large">
                                Submit
                                <i class="fas fa-share"></i>
                            </button>
                        </div>
                        <div class="col s12 center-align">
                            <p>*For suspect photos, please enter an image URL</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}