{% extends "base.html" %}

{% block content %}
<div class="home">
    <div class="container">
        <div class="col s12">
            <h3 class="center-align">Wanted Persons</h3>
            <div class="row card-panel white col s12">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s9">
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search</label>
                        </div>
                        <div class="col s3">
                            <a href="{{ url_for('wanted') }}" class="red btn text-shadow">Reset</a>
                            <button type="submit" class="blue btn text-shadow">
                                Search
                            </button>

                        </div>
                    </div>
                </form>

            </div>
            {% for wanted in wanted_persons %}
            <div class="row">
                <div class="col s12 m5 l4 offset-s1">
                    <div class="card mugshot-card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator img-fluid" src="../static/images/escobar.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 wanted-name">
                                {{ wanted.family_name }},
                                {{ wanted.forename }}
                                {% if session.user|lower == wanted.submitted_by|lower %}
                                <a href="{{ url_for('edit', wanted_id=wanted._id) }}"
                                    class="btn-small blue edit-button"><i class="far fa-edit"></i></a>
                                <a href="#" class="btn-small red delete-button"><i class="far fa-trash-alt"></i></a>
                                {% endif %}
                                <i class="fas fa-caret-up right"></i>
                            </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title pi-font">{{ wanted.family_name }},
                                {{ wanted.forename }}<i class="fas fa-times right"></i></span>
                            <span>
                                <p class="pi-font">Charge</p>
                                <p>{{ wanted.crime_name }}</p>
                                <p class="pi-font">Gender</p>
                                <p>{{ wanted.gender }}</p>
                                <p class="pi-font">Date of Birth</p>
                                <p>{{ wanted.date_of_birth }}</p>
                                <p class="pi-font">Client Contact Information</p>
                                <p>{{ wanted.phone_number }}, {{ wanted.email }}</p>
                                <p class="pi-font">Additional Information</p>
                                <p>{{ wanted.additional_info }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>

            </div>




        </div>
    </div>
</div>

{% endblock %}